
ul.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FAF9F6;
}

li.nav-bar {
  float: right;
  font-size: 20px;
  font-family: Gill Sans, sans-serif; 
}

li.nav-bar a {
  display: block;
  color: #107777;
  text-shadow: lightgray;
  text-align: center;
  padding: 27px 16px;
  text-decoration: none;
}

li.nav-bar a:hover {
  background-color: white;
}


.ninja {
  display: none;
}


.show-me:hover + .ninja {
  display: block;
  color: purple;
}

p{
  font-family: Gill Sans, sans-serif; 
  font-style: italic;;
}

#light-grn-button{
  font-family: Roboto,Helvetica,sans-serif;
  letter-spacing: 1px;
  line-height: 1.2;
  font-weight: 700;
  font-size: .875rem;
  text-transform: uppercase;
  padding: 10px 15px;
  color: #177;
  background: #F1F9F8;

}
.light-grn-button{
  font-family: Roboto,Helvetica,sans-serif;
  letter-spacing: 1px;
  line-height: 1.2;
  font-weight: 700;
  font-size: .875rem;
  text-transform: uppercase;
  padding: 10px 15px;
  color: #177;
  background: #F1F9F8;

}


.btn:hover {
  cursor: pointer;
  background: #004D4D;
  color: #FFF;
}


.btn {
  border-radius: 4px;
  background: #177;
  text-transform: uppercase;
  color: #FFF;
  font-family: Roboto,Helvetica,sans-serif;
  letter-spacing: 1px;
  line-height: 1.2;
  font-weight: 700;
  font-size: .875rem;
  text-transform: uppercase;
  padding: 10px 15px;
}

.btn, .card-list--chopped .btn, .recipe-block .print-button.print-button .btn {
  font-family: Roboto,Helvetica,sans-serif;
}



.btn:focus, .btn:hover {
  cursor: pointer;
  background: #004D4D;
  color: #FFF;
}



#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

h1 {
  text-align: center;
    text-shadow: 2px 2px 3px rgb(255, 255, 255);
    font-size: 45px;
    color: #000000;
    text-align: center;
    font-family:  Frank Ruhl Libre,Georgia,serif;
}

#index-txt{
  padding: 10px 0px 0px 0px;
  font-size:'15px;'
}




#box-text{
  background-color: rgb(247, 247, 247, .75);
}

.center {
  margin: auto;
  width: 50%;
  padding: 50px;
}

.index-box-text{
  text-align:center;
  height: 400px;
}

.negative-border{
  outline: solid 2px white;
  outline-offset: -30px;
}


.dropdown {
    /* position: relative; */
    display: inline-block;
}

  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    /* display: none; */
    background-color: #FAF9F6;
}

  .dropdown-content a {
    color: black;
  }

  .hide-recipe {
    display: none;
  }


.dropdown-content a:hover {background-color: rgb(66, 93, 105);}

.dropdown:hover .droptitle {background-color: #961aaf;}

.show {display:block;}

