{% extends 'base.html' %}
{% block title %} {% endblock title %}

{% block head %}{% endblock head %}

{% block body %}

    <h1>Welcome to your dashboard {{session_user}}</h1>


    <a href="/questions">What kind of recipes do I want?</a>
    <br>
    <br>
    <a href="/favorites">My Favorite Recipes</a>
    <br>
    <br>
    <a href="/account_info">View or Edit Account Information</a>


    <br>
    <br>
    <br>
    <button id="rand-recipe-button">Random Button</button>

    <b><p id="recipe-button-title"></p></b>
    <ul id="recipe-button-ingredients"></ul>
    <ol id="recipe-button-directions"></ol>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/events.js"></script>
{% endblock body %}

