{% extends 'base.html' %}
{% block title %}{% endblock title %}

{% block head %}
<style>


p{  
    font-size: 25px;
    font-style: bold;
}


#photo{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
</style>
{% endblock head %}
{% block body %}
<body>

    <ul class="nav-bar">
        <li class="nav-bar"><a href="/logout">Logout</a></li>
        <li class="nav-bar"><a href="/account_info">Account</a></li>
        <li class="nav-bar"><a href="/questions">Questionnaire</a></li>
        <li class="nav-bar"><a href="/favorites">Favorites</a></li>
        <li class="nav-bar"><a href="/dashboard">Dashboard</a></li>
        <li class="nav-bar" style="float:left"><a class="active" href="/">Foodspire</a></li>
      </ul>
  <div style="background-color: rgb(247, 247, 247, .7);">
        
    <h1>Here Are Your Recipes</h1>

    <center>
    <p>
        Click the recipe title to view recipe details. You can close the 
        <br> details by pressing the button again.
        <br>To save recipes to your Favorites, select the checkbox
        <br>to the left of the desired recipe(s), and click the 
        <br>"Add to Recipe Book" button the right.
    </p>
    </center>

    <img id="photo" src="/static/images/recipecard.jpeg">

        <form action="/favorites" method="POST">
            <input class="btn grnbutton recipe-jump-button" type="submit" value="Add To Recipe Book" style="position:fixed; margin-left: 700px;">
            
            
            {% for recipe in recipe_objs %}
            
            
                <p><input type="checkbox" name="chosen-recipe-title" value="{{recipe.recipe_title}}"><label for="recipe-title">
            
        
                <input class="dropbtn light-grn-button" name="recipe-btn" id="{{recipe.recipe_id}}" type="submit" value="{{recipe.recipe_title}}"></p>
                
                <div class="dropdown-content hide-recipe" id="dropdown-content-id-{{recipe.recipe_id}}">

                    <p>
                    <b>Ingredients</b>
                    <br>
                    {% for ingredient in recipe.ingredients_list[2:-2].split('","') %} 
                    </p>
                        <ul>
                            <li>{{ingredient}}</li>
                        </ul>
                    {% endfor %}
                    <p>
                    <b>Instructions</b>
                        <ol>
                    {% for step in recipe.directions[2:-2].split('","') %}
                        <li>{{step}}</li>
                    {% endfor %}
                        </ol>
                    </p>

                </div>
            <br>
            {% endfor %}
        </form>
    </img>

    </div>
</body>
{% endblock body %}
<!-- 
<p><input type="checkbox" name="chosen-recipe-title" value="{{recipe.recipe_title}}"><label for="recipe-title"><h3>{{recipe.recipe_title}}</h3></label></p> 
            -->
<!-- 
            <button class="dropbtn" name="recipe-btn" id="{{recipe.recipe_id}}" type="submit" value="{{recipe.recipe_title}}">{{recipe.recipe_title}}</button> -->