
<!-- users "favorited" recipes from display recipes
without form action tag, showRecipeDetails in eventss.js does not flash to weird json page. Same behavior as if using preventDefault() in showRecipeDetails(). 
get KeyError in server though, with or without formData 
can only get reaction from first button displayed on page

evt.preventDefault also gives a KeyError

CSS makes no difference

if I comment showRecipeDetails, it does not effect the problem-->
{% extends 'base.html' %}
{% block title %} Favorites{% endblock title %}

{% block head %}
<link rel="stylesheet" href="/static/stylesheet.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
{% endblock head %}

{% block body %}
  <h1>Favorite Recipes</h1>

  <div>
    <a href=dashboard>Return to dashboard</a>
    <a href=test_route>TEST ROUTE</a>
  </div>
  
{% for recipe in recipe_objs_lst %}

  <!-- <div class="dropdown"> -->
    <form action="/delete_fav_recipe" method="POST">
    <div>
    <input hidden type="text" name="recipe-title" value="{{recipe.recipe_title}}">
    <input type="checkbox" name="delete-fav-recipe" value="{{recipe.recipe_title}}">
      <button class="dropbtn" name="recipe-btn" id="{{recipe.recipe_id}}" type="submit" value="{{recipe.recipe_title}}">{{recipe.recipe_title}}</button>
    </div>
    

    <div class="dropdown-content hide-recipe" id="dropdown-content-id-{{recipe.recipe_id}}">
      <p id="recipe-id-{{recipe.recipe_id}}">
      <p>
        <b>Ingredients</b>
      </p>
      {% for ingredient in recipe.ingredients_list[2:-2].split('","') %}
        <ul>
          <li>{{ingredient}}</li>
        </ul>
      {% endfor %}
    <p>
      <b>Directions</b>
    </p>
    {% for step in recipe.directions[2:-2].split('","') %}
      <ol>
        <li>{{step}}</li>
      </ol>
    {% endfor %}
  </div>

{% endfor %}

<input type="submit" value="Delete Recipes">
</form>
        
<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/events.js"></script>
{% endblock body %}


<!-- <canvas id="test-chart"></canvas>
  <script>
    const testChart = new Chart(
      $('#test-chart'),
      {
        type: 'bar',
        data: {
          labels: ['does', 'this', 'work'],
          datasets: [
            {data: [2, 4, 8]}
          ]
        }
      }
    );
  </script> -->
