
<!-- users "favorited" recipes from display recipes
without form action tag, showRecipeDetails in eventss.js does not flash to weird json page. Same behavior as if using preventDefault() in showRecipeDetails(). 
get KeyError in server though, with or without formData 
can only get reaction from first button displayed on page

evt.preventDefault also gives a KeyError

CSS makes no difference

if I comment showRecipeDetails, it does not effect the problem-->
{% extends 'base.html' %}
{% block title %} Favorites{% endblock title %}

{% block head %}
<link rel="stylesheet" href="/static/stylesheet.css">
{% endblock head %}

{% block body %}
    <h1>Favorite Recipes</h1>

    <br>
    <a href=dashboard>Return to dashboard</a>
   <br><br><a href=test_route>TEST ROUTE</a>
    
       

        {% for recipe in recipe_objs_lst %}

            <div class="dropdown">
                <form action="/show_fav_recipes_deets.json" method="POST"> 

               <br><button class="dropbtn" name="recipe-btn" id="recipe-btn-id" type="submit" value="{{recipe.recipe_title}}">{{recipe.recipe_title}}</button>
            </form>
                <div class="dropdown-content" id="dropdown-content-id">
                    <div class="dropdown-content">
                        <p>{{recipe.ingredients_list}}</p>
                        <p>{{recipe.directions}}</p>
                    </div>
                </div>
            
        {% endfor %}
            </div>
        
        
<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/events.js"></script>
{% endblock body %}


<div class="dropdown-content" id="dropdown-content-id">
    <div class="dropdown-content">
        <p>{{recipe.ingredients_list}}</p>
        <p>{{recipe.directions}}</p>
    </div>
</div>