<!-- displaying the home page with link to login/create an acct -->
{% extends 'base.html' %}
{% block title %}Index{% endblock title %}

{% block head %}
{% endblock head %}

{% block body %}



<video id="background-video" autoplay loop muted>
  <source src="static/Colorfulsaladbowl.mp4" type="video/mp4">
</video>

<div class="index-box-text center negative-border" id="box-text">

  <h1 style="font-family: Frank Ruhl Libre,Georgia,serif;"><b><i>Foodspire</i></b></h1>

    <p id="index-txt" style="padding: 0px 0px 0px 0px;">
      <b>Need some ideas for dinner tonight? Or the potluck next weekend?
    </p>
    <br>
    <p style="padding: 10px 0px 0px 0px;">
      Don't worry -we've got you covered.
      </b>
    </p>

  <form action="/login_page">
    <input type="submit" name="light-grn-button" class="btn grnbutton recipe-jump-button" value="Login">
  </form>

</div>


{% endblock body %}
