<!-- displaying the home page with link to login/create an acct -->
{% extends 'base.html' %}
{% block title %}{% endblock title %}

{% block head %}
<style>

#login-button{
  background-color: #c0c0c0; /* Green */
  border: none;
  border-radius: 15px;
  box-shadow: 2px 2px 2px black;
  color: #f9f6ee;
  padding: 10px 15px;
  text-align: center;
  text-shadow: 1px 1px 1px #524546;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font: Trebuchet MS;
}

</style>
{% endblock head %}

{% block body %}



<video id="background-video" autoplay loop muted>
    <source src="static/Colorfulsaladbowl.mp4" type="video/mp4">
  </video>

  <div class="index-box-text center negative-border" id="box-text">
    <h1><b><i>Foodspire</i></b></h1>

<p id="index-txt" style="padding: 0px 0px 0px 0px;"><b>Not sure what to make for dinner tonight? Or the potluck next weekend?</b></p>

<p style="padding: 10px 0px 0px 0px;"><b>Don't worry -we've got you covered.</b></p>

<form action="/login_page">
    <input type="submit" name="login-button" id="login-button" value="Login/Create Account">
</form>

</div>
<br>


{% endblock body %}
