<!-- """FORM FOR USER TO LOG IN TO DASHBOARD""" -->

{% extends 'base.html' %}
{% block title %}Account Login/Create{% endblock title %}
{% block head %}{% endblock head %}

{% block body %}
<h1>LOGIN</h1>


<form method="POST" action="/login_form">
    {{ form.hidden_tag() }}
    {{ form.username() }}
    {{ form.password() }}
    {{ form.submit() }}
</form>

<a href="/registeracct">Create an account</a>


{% endblock body %}

<!-- {{ form.hidden_tag() }} -->

<!-- <form action="/login" method="POST">

    <p>Username  <input type="text" name="username"></p>
    <p>passwordd  <input type="passwordd" name="passwordd"></p>
    <p><input type="submit"></p>
</form> -->