<!-- """FORM FOR USER TO LOG IN TO DASHBOARD""" -->

{% extends 'base.html' %}
{% block title %}Account Login/Create{% endblock title %}
{% block head %}

<style>

#login-div {
    display:block;
    background: #FAF9F6;
    margin: auto;
    /* position: absolute; */
    text-align:center;
    outline: solid 2px #ffd977;
    outline-offset: -30px;
    padding: 80px;
}

body{
    background-image: url('/static/images/food1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

</style>

{% endblock head %}

{% block body %}

<div id="login-div">

    <h1>LOGIN TO YOUR ACCOUNT</h1>

    <form action="/login_form" method="POST">

        {{ form.hidden_tag() }}
        <div id="login_usename">
        {{ form.username() }}
        </div>
        <br>
        <div id="login_pass">
        {{ form.password() }}
        </div>
        <br>


            <button id="login-button" class="btn grnbutton recipe-jump-button">Login</button>

        <!-- <button id="login-button" class="btn grnbutton recipe-jump-button">Login</button> -->

    </form>
    <br>
    <br>
    <form action="/register_user">
       
        <center>
            <button class="btn grnbutton recipe-jump-button">Create an Account</button>
        </center>
    
    </form>
</div>


{% endblock body %}

