
{% extends 'base.html' %}
{% block title %}Questions{% endblock title %}

{% block head %}<h1>Questions!!!!!!!!!</h1>{% endblock head %}

{% block body %}
<form action="/questions_answers", method="POST">


    
    <p>Choose dietary preference:</p>

        <label for="vegetarian">vegetarian</label>
        <input type="checkbox" name="dietary-pref" value='Vegetarian'>
        <br>
        <label for="vegan">vegan</label>
        <input type="checkbox" name="dietary-pref" value='Vegan'>
        <br>
        <label for="pescatarian">pescatarian</label>
        <input type="checkbox" name="dietary-pref" value='Pescatarian'>
        <br>
        <label for="paleo">paleo</label>
        <input type="checkbox" name="dietary-pref" value='Paleo'>
        <br>
    
    <p>Choose a meal type:</p>

        <label for="breakfast">breakfast</label>
        <input type="checkbox" name="dietary-pref" value='Breakfast'>
        <br>
        <label for="lunch">lunch</label>
        <input type="checkbox" name="dietary-pref" value='Lunch'>
        <br>
        <label for="dinner">dinner</label>
        <input type="checkbox" name="dietary-pref" value='Dinner'>
        <br>
        <label for="dessert">dessert</label>
        <input type="checkbox" name="dietary-pref" value='Dessert'>
        <br>
        <label for="Picnic">Picnic</label>
        <input type="checkbox" name="dietary-pref" value='Picnic'>
        <br>


    <p>Choose ingredients:</p>
    <label for="Meat">Meat</label>
    <input type="checkbox" name="dietary-pref" value='Meat'>
    <br>
    <label for="Chocolate">Chocolate</label>
    <input type="checkbox" name="dietary-pref" value='Chocolate'>
    <br>
    <label for="Cauliflower">Cauliflower</label>
    <input type="checkbox" name="dietary-pref" value='Cauliflower'>
    <br>
    <label for="Persimmon">Persimmon</label>
    <input type="checkbox" name="dietary-pref" value='Persimmon'>
    <br>
    <label for="Egg">Egg</label>
    <input type="checkbox" name="dietary-pref" value='Egg'>
    <br>
    <label for="Cucumber">Cucumber</label>
    <input type="checkbox" name="dietary-pref" value='Cucumber'>
    <br>


    <p>Additional preferences:</p>

        <label for="salad">salad</label>
        <input type="checkbox" name="dietary-pref" value='Salad'>
        <br>
        <label for="side">side dish</label>
        <input type="checkbox" name="dietary-pref" value='Side'>
        <br>
        <label for="kid-friendly">kid-friendly</label>
        <input type="checkbox" name="dietary-pref" value='Kid-Friendly'>
        <br>
        <label for="Drinks">Drinks</label>
        <input type="checkbox" name="dietary-pref" value='Drinks'>
        <br>
        <label for="Smoothie">Smoothie</label>
        <input type="checkbox" name="dietary-pref" value='Smoothie'>
        <br><br>
        <input type="submit" value="Tell Me What to Make!">
    
</form>

{% endblock body %}