<!-- questionnaire to select user recipe preferences 
this is the file to edit for testing out how to store multiple inputs to query

changed radio buttons to check boxes
changed names of checkboxes to dietary pref
in server flask route questions_answers- stored the checkbox value to a list
in crud get_recipes_by_preference - looped through preferences and returned recipes-->
{% extends 'base.html' %}
{% block title %}Questions{% endblock title %}

{% block head %}<h1>Questions!!!!!!!!!</h1>{% endblock head %}

{% block body %}
<form action="/questions_answers", method="POST">

    <p>Choose any food allergies:</p>

        <label for="nuts">nuts</label>
        <input type="checkbox" name="allergy" value='nuts'>
        <br>
        <label for="dairy">dairy</label>
        <input type="checkbox" name="allergy" value='dairy'>
        <br>
        <label for="gluten">gluten</label>
        <input type="checkbox" name="allergy" value='gluten'>
        <br>allergy 
        <label for="shellfish">shellfish</label>
        <input type="checkbox" name="allergy" value='shellfish'>
        <br>
    
    <p>Choose dietary preference:</p>

        <label for="vegetarian">vegetarian</label>
        <input type="checkbox" name="dietary-pref" value='Vegetarian'>
        <br>
        <label for="vegan">vegan</label>
        <input type="checkbox" name="dietary-pref" value='Vegan'>
        <br>
        <label for="pescatarian">pescatarian</label>
        <input type="checkbox" name="dietary-pref" value='Pescatarian'>
        <br>
        <label for="paleo">paleo</label>
        <input type="checkbox" name="dietary-pref" value='Paleo'>
        <br>
    
    <p>Choose a meal time:</p>

        <label for="breakfast">breakfast</label>
        <input type="checkbox" name="dietary-pref" value='Breakfast'>
        <br>
        <label for="lunch">lunch</label>
        <input type="checkbox" name="dietary-pref" value='Lunch'>
        <br>
        <label for="dinner">dinner</label>
        <input type="checkbox" name="dietary-pref" value='Dinner'>
        <br>
        <label for="dessert">dessert</label>
        <input type="checkbox" name="dietary-pref" value='Dessert'>


    <p>Additional preference:</p>

        <label for="salad">salad</label>
        <input type="checkbox" name="dietary-pref" value='Salad'>
        <br>
        <label for="soup">soup</label>
        <input type="checkbox" name="dietary-pref" value='Soup'>
        <br>
        <label for="side">side dish</label>
        <input type="checkbox" name="dietary-pref" value='Side'>
        <br>
        <label for="kid-friendly">kid-friendly</label>
        <input type="checkbox" name="dietary-pref" value='Kid-Friendly'>

        <br><br>
        <input type="submit" value="Tell Me What to Make!">
    
</form>

{% endblock body %}