<!-- display users choices from questions.html, confirm choices to get to recipe_data -->

{% extends 'base.html' %}
(% block title %)(% endblock title %)

{% block head %}<h1>Recipes You Want</h1>{% endblock head %}


{% block body %}
<form action="/recipe_answers">
    <p>Here are the recipe preferences you chose:</p>
        <!-- <p>{{allergies}}</p> -->
        <p>{{dietary_preference}}</p>
        <!-- <p>{{meal_time}}</p>
        <p>{{additional_preferences}}</p> --> -->
    </form>

{% endblock body %}