{% extends 'base.html' %}
{% block title %}{% endblock title %}

{% block head %}<h1>CREATE AN ACCOUNT</h1>{% endblock head %}

{% block body %}

<form action="/register_user_form" method="POST">
    
    {{ form.hidden_tag() }}
    <br>
    {{ form.username() }}
    <br>
    {{ form.fname() }}
    <br>
    {{ form.lname() }}
    <br>
    {{ form.email() }}
    <br>
    {{ form.password() }}
    <br>
    {{ form.submit() }}
</form>


{% endblock body %}


<!-- <form action="/createacct" method="POST">

    <p>First name  <input type="text" name="create-fname"></p>
    <p>Last name  <input type="text" name="create-lname"></p>
    <p>Email address <input type="text" name="create-email"></p>
    <p>Username  <input type="text" name="create-username"></p>
    <p>password  <input type="password" name="create-password"></p>
    <p><input type="submit"></p>
</form> -->
