<!-- a page for all my rendering test needs ~ -->

<!-- create route in server

render template test page in server

create route on a page to test_page -->


{% extends 'base.html' %}
{% block title %}{% endblock title %}

{% block head %}<h1>TEST PAGE</h1>{% endblock head %}
{% block body %}

<form action="/test_route">
<input type="text" id="test_input">
<label for="fname">First Name:</label>
</form>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/get-recipe.js"></script>
{% endblock body %}